<div class="group" id="group-{{ group.id }}">
    <div class="group-header">
        <h4>{{ group }}</h4>    
        {% if group.matchs is not empty %}
            {% include '@admin/planning/group/_secondary_actions.html.twig' %}
        {% endif %}
    </div>
    <div class="matchs">
        {% for match in group.matchs %}
            <div class="match">
                <div class="match-label">
                    {{ match }}
                </div>
                <div class="booking">
                    {% if match.booking is not null %}
                        {{ match.booking }}
                    {% else %}
                        <a class="btn btn-default"
                            style="margin-left: 5px"
                            href="{{ path('admin_planning_match_schedule', {'id': match.id}) }}"
                        >
                            Programmer
                        </a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <a class="btn btn-primary" href="{{ path('admin_planning_group_generate_matchs', {'id': group.id}) }}">
                Générer les matchs
            </a>
        {% endfor %}
    </div>
</div>