<div class="date" id="date-{{ date.id }}">
    <div class="group-header">
        <div class="placeholder"></div>
        <h4>{{ date }}</h4>
        {% include '@admin/planning/slot/_secondary_actions.html.twig' %}
    </div>
	<div class="courts">
		{% for court in courts %}
			<div class="court">
				<h5>{{ court }}</h5>
				<div class="slots">
					{% for slot in date.slotsByCourt(court) %}
                        <div class="slot-row" id="slot-{{ slot.id }}">
                            <div class="slot">
                                {{ slot.timeRange }}
                            </div>
                        </div>  
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
