{% extends 'layout/default.html.twig' %}

{% block body_extra_classes 'with-cards' %}

{% block content %}

<style>
    .groups {
        display: grid;
        gap: 30px;
        /* edge-to-edge */
        margin-inline: calc(var(--spacing) * (-6)); /* inverse of default-container-x-padding */
        .group {
            border-radius: 0;
            padding: 30px 25px;
        }
        .long {
            display: none;
        }
        @media (min-width: 600px) {
            /* end of edge-to-edge */
            margin-inline: 0;
            .group {
                border-radius: 3px;
                padding: 30px;
            }
            .short {
                display: none;
            }
            .long {
                display: inline;
            }
        }
        @media (min-width: 1000px) {
            grid-template-columns: 1fr 1fr;
        }
    }

	.group {
		border: 0px solid #ddd;
        background-color: #fff;
	}
	.group-header {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		margin-bottom: 0;
	}
    h4 {
		margin-bottom: 20px;
        font-weight: bold;
	}
    .players {
        width: 100%;
        margin-bottom: 10px;
        td, th {
            padding: 3px;
        }
        td:first-child, th:first-child {
            padding-left: 0;
        }
        td:last-child, th:last-child {
            padding-right: 0;
        }
        .ranking,
        .points,
        .matchs-played {
            text-align: center;
        }
    }
    .dates {
        display: grid;
        grid-template-columns: 1fr auto; /* match label | booking */
        gap: 15px;
    }
    .date {
        margin-top: 20px;
        grid-column: span 2;
        font-weight: bold;
    }

    .matchs {
        /* prentend div does not exist for grid and exposes children to the grid ! */
        /* allows to keep div for semantic markup without getting in the way of the grid ! */
        display: contents; 
    }

    .match {
        /* prentend div does not exist for grid and exposes children to the grid ! */
        /* allows to keep div for semantic markup without getting in the way of the grid ! */
        display: contents;
    }

    .nowrap {
        white-space: nowrap;
    }

    .match-label {
    /* first column */
    }

    .booking {
    /* second column */
    text-align: right;
    }


    /* LAYOUT */

</style>

    <div class="groups">

        {% for group in groups %}
           <div class="group">
                <div class="group-header">
                    <h4>{{ group }}</h4>
                </div>
                <table class="players">
                    <tr>
                        <th></th>
                        <th></th>
                        <th><span class="short">Joués</span><span class="long">Matchs joués</span></th>
                        <th><span class="short">Pts</span><span class="long">Points</span></th>
                    </tr>
                    {% for row in standings[group.id] %}
                        <tr>
                            <td class="player"><span class="nowrap">{{ loop.index }}. {{ row.player.firstname }}</span>
                                {{ row.player.lastname }}
                            </td>
                            <td class="ranking">{{ row.player.ranking.value }}</td>
                            <td class="matchs-played">{{ row.matchsPlayed}}</td>
                            <td class="points">{{ row.points }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="dates">
                    {% for date in dates[group.id] %}
                        <h5 class="date">{{ date }}</h5>
                        <div class="matchs">
                            {% for match in date.matchsByGroup(group) %}
                                <div class="match">
                                    <div class="match-label">
                                        {% for player in match.players %}
                                            <span class="nowrap">{{ player }}</span>
                                            {{ not loop.last ? ' - ' }}
                                        {% endfor %}
                                    </div>
                                    <div class="booking">
                                        {% if match.booking is not null %}
                                            <span class="nowrap">{{ match.timeRange }}</span>
                                            •
                                            <span class="nowrap">{{ match.court }}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}