<div class="group" id="group-{{ group.id }}">
    <div class="group-header">
        <h4>{{ group }}</h4>    
        {% if group.matchs is not empty %}
            {% include '@admin/group/_secondary_actions.html.twig' %}
        {% endif %}
    </div>
    <div class="players">
        {% for player in group.players %}
            <div class="player">{{ loop.index }}. {{ player }}</div>
        {% endfor %}
    </div>
    <div class="matchs">
        <h5>Matchs</h5>
        {% for match in group.matchs %}
            <div class="match">
                <div class="match-label">
                    {{ match }}
                </div>
                <div class="booking">
                    {% if match.booking is not null %}
                        {{ match.booking }}
                    {% else %}
                        <a class="btn btn-default"
                            style="margin-left: 5px"
                            href="{{ path('admin_match_add_booking', {'id': match.id}) }}"
                        >
                            Programmer
                        </a>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <a class="btn btn-primary" href="{{ path('admin_planning_group_generate_matchs', {'id': group.id}) }}">
                Générer les matchs
            </a>
        {% endfor %}
    </div>
</div>