{# Important: Note the syntax with [] and only #}
{# Ignore global themes; use only EasyAdmin #}
{# important to avoid theme conflicts #}
{% form_theme form with ['@admin/form/form_theme.html.twig'] only %}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        @media (min-width: 768px) {
            .form-wrapper {
                max-width: 300px;
            }
        }
    </style>
{% endblock %}

{% block content_title %}Programmer un match{% endblock %}

{% block page_actions %}

    <a class="btn btn-default" href="{{ path('admin_planning_groups')}}">
        Retour
    </a>

{% endblock %}

{% block main %}

    <style>
        #booking_for_match_form_date {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    </style>

    <div data-controller="ajax">

        {{ form_start(form, { 'attr': {'data-ajax-target': 'form'} }) }}

            <div data-ajax-target="container">
                {{ form_row(form.date) }}
                
                {% if form.slot is defined %}
                    {{ form_row(form.slot) }}
                {% endif %}

                {% set saveBtn = form_row(form.save) %}

                {{ form_rest(form) }}
            </div>
            
            {{ saveBtn|raw }}
    
        </form>

    </div>


{% endblock %}