{# Important: Note the syntax with [] and only #}
{# Ignore global themes; use only EasyAdmin #}
{# important to avoid theme conflicts #}
{% form_theme form with ['@admin/form/form_theme.html.twig'] only %}

{% extends '@admin/base.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        .infos {
            margin-bottom: 20px;
        }
        @media (min-width: 768px) {
            .form-wrapper {
                max-width: 300px;
            }
        }
    </style>
{% endblock %}

{% block content_title %}Programmer le match {{ match }}{% endblock %}

{% block page_actions %}

    <a class="btn btn-default" href="{{ path('admin_planning_groups')}}">
        Retour
    </a>

{% endblock %}

{% block main %}

    <style>
        #booking_for_match_form_date {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    </style>

    {% for player in match.players %}
        <div class="infos">
            <h5>{{ player }}</h5>
            <div><b>Dispos</b>:</div>
            {% if player.availabilities is not empty %}
                <div>{{ player.availabilities }}</div>
            {% else %}
                <div> --- </div>
            {% endif %}
            <div style="margin-top: 5px"><b>Matchs programmés</b>:</div>
            <div class="scheduled-matchs">
                {% for scheduledMatch in player.scheduledMatchs %}
                    {% if scheduledMatch is not same as match %}
                        <div>{{ scheduledMatch.booking }} : {{ scheduledMatch }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    {{ form_start(form, { 'attr': {'data-controller': 'ajax'} }) }}

        <div data-ajax-target="container">
            {{ form_row(form.date) }}
            
            {% if form.slot is defined %}
                {{ form_row(form.slot) }}
            {% endif %}

            {% set submitBtn = form_widget(form.save) %}

            {{ form_rest(form) }}
        </div>
        
        {% embed 'form/_form_actions.html.twig' %}
            {% block cancel_url path('admin_planning_groups') %}
            {% block submit_button %}
                {{ submitBtn|raw }}
            {% endblock %}
        {% endembed %}

    </form>

{% endblock %}