{% extends 'layout/default.html.twig' %}

{% block body_extra_classes 'with-cards' %}

{% block title %}
	Poules
{% endblock %}

{% block content %}

<style>
	h4 {
		margin-bottom: 20px;
	}
	.planning {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
	}
	.group {
		border: 0px solid #ddd;
        background-color: #fff;
		border-radius: 3px;
		padding: 30px;
	}
	.group-header {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		margin-bottom: 10px;
	}
	h5 {
		margin-bottom: 15px;
		font-weight: bold;
	}
	.matchs {
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
	.match {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		gap: 70px;
	}
</style>

    <div class="planning">

        {% for group in groups %}
           <div class="group">
                <div class="group-header">
                    <h4>{{ group }}</h4>
                </div>
                {% for date in dates[group.id] %}
                    <h5 class="date">{{ date }}</h5>
                    <div class="matchs">
                        {% for match in date.matchs %}
                            <div class="match">
                                <div class="match-label">
                                    {{ match }}
                                </div>
                                <div class="booking">
                                    {% if match.booking is not null %}
                                        {{ match.timeRange }}
                                        •
                                        {{ match.court }}
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

    </div>

{% endblock %}