{# Important: Note the syntax with [] and only #}
{# Ignore global themes; use only EasyAdmin #}
{# important to avoid theme conflicts #}
{% form_theme form with ['@admin/form/form_theme.html.twig'] only %}

<turbo-frame id="modal-frame">

    <style>
        @media (min-width: 768px) {
            .form-wrapper {
                max-width: 300px;
            }
        }
        .match-extra {
            margin-top: 5px;
            margin-bottom: 25px;
            margin-left: 25px;
            h5 {
                font-size: medium;
                margin-bottom: 3px;
            }
            .match-extra-side {
                margin-bottom: 5px;
            }
            .match-extra-line {
                margin-left: 15px;
            }
        }
    </style>

    <h3 style="margin-bottom: 30px">Ajouter un match - {{ slot }}</h3>

    {# 1. Dependent Fields ==> 'ajax' controller #}
    {# Dependent fields is handled by 'ajax' controller (data-action="change->ajax#submitOnChange"on trigger field) #}
    
    {# 1. Full form submit ==> turbo frame #}
    {# Final form submit NOT handled by 'ajax' controller ( NO data-action="submit->ajax#submit" on form ) #}
    {# Final submit is handled by regular form submit with turbo-frame --thanks to data-turbo-frame attribute #}
    {# NB: if turbo was active on the page, we would not need 'data-turbo-frame' but in easyadmin (data-turbo=fase on body), we do #}

    {{ form_start(form, {'attr': {
        'action': path('admin_planning_slot_add_booking', {'id': slot.id, 'modal': 1}),
        'data-controller': 'ajax',
        'data-turbo-frame': "modal-frame"
        }}) 
    }}

        <div data-ajax-target="container">

            {{ form_row(form.group) }}
            
            {% if form.match is defined %}
                {{ form_row(form.match) }}
            {% endif %}

            {% set submitBtn = form_widget(form.save) %}

            {{ form_rest(form) }}
        </div>
        
        {% embed 'component/modal/_actions.html.twig' %}
            {% block submit_button %}
                {{ submitBtn|raw }}
            {% endblock %}
        {% endembed %}

    </form>   

</turbo-frame>