{# Important: Note the syntax with [] and only #}
{# Ignore global themes; use only EasyAdmin #}
{# important to avoid theme conflicts #}
{% form_theme form with ['@admin/form/form_theme.html.twig'] only %}

<turbo-frame id="modal-frame">

    <style>
        th {
            text-align: center;
        }
        td {
            padding: 5px 10px;
        }
    </style>

    {# Add 'data-turbo-frame' for when Turbo is not loaded (ie: in easy-admin) #}
    {{ form_start(form, {
        'attr': {
            'action': path('admin_match_add_result', {'id': match.id}),
            'data-turbo-frame': "modal-frame"
        }
    }) }}

        <table>
            <tr>
                <th>Joueur</th>
                <th></th>
                <th>Set 1</th>
                <th>Set 2</th>
                <th>Set 3</th>
                <th>Points</th>
            </tr>
            <tr>
                <td>A</td>
                <td>
                    {% for player in match.playersForSide(enum('App\\Enum\\Side').A) %}
                        {{ player }}
                    {% endfor %}
                </td>
                <td>{{ form_widget(form.set1A) }}</td>
                <td>{{ form_widget(form.set2A) }}</td>
                <td>{{ form_widget(form.set3A) }}</td>
                <td>{{ form_widget(form.pointsA) }}</td>
            </tr>
            <tr>
                <td>B</td>
                <td>
                    {% for player in match.playersForSide(enum('App\\Enum\\Side').B) %}
                        {{ player }}
                    {% endfor %}
                </td>
                <td>{{ form_widget(form.set1B) }}</td>
                <td>{{ form_widget(form.set2B) }}</td>
                <td>{{ form_widget(form.set3B) }}</td>
                <td>{{ form_widget(form.pointsB) }}</td>
            </tr>
        </table>

        {{ form_rest(form) }}

        {% include 'component/modal/_actions.html.twig' %}
    
    </form>

</turbo-frame>