<div class="group" id="group-{{ group.id }}">
    <h4 class="group-header">
        <span>{{ group }}</span>
        {% if group.matchs is empty %}
            <a class="btn btn-default"
                style="margin-left: 5px"
                href="{{ path('admin_planning_generate_group_matchs', {'id': group.id}) }}"
            >
                Générer les matchs
            </a>
        {% else %}
            <button
                type="button"
                class="btn btn-default btn-sm"
                formaction="{{ path('admin_planning_delete_group_matchs', {'id': group.id}) }}"
                data-action="modal#open"
                data-title="Supprimer les matchs"
                data-html="<p>Ceci supprimera les matchs pour cette poule</p>"
                data-button-label="Supprimer les matchs"
                data-variant="warning"
            >
                Supprimer les matchs
            </button>
        {% endif %}
    </h4>
    <div class="matchs">
        {% for match in group.matchs %}
            <div class="match">
                <div class="match-label">
                    {{ match }}
                </div>
                <div class="booking">
                    {% if match.booking is not null %}
                        {{ match.booking }}
                    {% else %}
                        <a class="btn btn-default"
                            style="margin-left: 5px"
                            href="{{ path('admin_planning_schedule_match', {'id': match.id}) }}"
                        >
                            Plannifier
                        </a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>