<div class="slot-row" id="slot-{{ slot.id }}">
	<div class="slot-time">
		{{ slot.startsAt|date('H:i') }}
	</div>
	<div class="slot-content">
		<div class="slot-content-inner {{ slot.match ? 'with-match' }}">
			{# <div class="placeholder"></div> #}
            {% if slot.match is empty %}
				<a class="btn btn-default"
                    href="{{ path('admin_planning_slot_add_booking', {'id': slot.id}) }}"
                    data-action="modal-remote-form#open"
                >
					<twig:ux:icon name="add"/>
					Match
				</a>
            {% else %}
                <div class="sides">
                    <div class="side">
                        {% for participant in slot.match.participantsForSide(enum('App\\Enum\\Side').A) %}
                            {{ loop.index == 2 ? ' - ' }}
                            {% include '@admin/planning/_slot_row_participant.html.twig' %}
                        {% endfor %}
                    </div>
                    <div class="side">
                        {% for participant in slot.match.participantsForSide(enum('App\\Enum\\Side').B) %}
                            {{ loop.index == 2 ? ' - ' }}
                             {% include '@admin/planning/_slot_row_participant.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="results">
                    {% set result = slot.match.result %}
                    {% if result %}
                        <table>
                            <tr>
                                <td>{{ result.set1A }}</td>
                                {% if result.set2A or result.set2B %}
                                    <td>{{ result.set2A }}</td>
                                {% endif %}
                                {% if result.set3A or result.set3B %}
                                    <td>{{ result.set3A }}</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>{{ result.set1B }}</td>
                                {% if result.set2A or result.set2B %}
                                    <td>{{ result.set2B }}</td>
                                {% endif %}
                                {% if result.set3A or result.set3B %}
                                    <td>{{ result.set3B }}</td>
                                {% endif %}
                            </tr>
                        </table>
                            </a>
                    {% endif %}
                </div>
			{% endif %}
		</div>
	</div>
	<div class="slot-actions">
		<div class="slot-actions-inner hk-dropdown-container"
            data-controller="dropdown"
        >
			{% if slot.booking is not empty %}
				{% include "@admin/planning/_slot_actions.html.twig" %}
			{% endif %}
		</div>
	</div>
</div>
