{# Important: Note the syntax with [] and only #}
{# Ignore global themes; use only EasyAdmin #}
{# important to avoid theme conflicts #}
{% form_theme form with ['@admin/form/form_theme.html.twig'] only %}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        @media (min-width: 768px) {
            .form-wrapper {
                max-width: 300px;
            }
        }
    </style>
{% endblock %}

{% block content_title %}Progammer un match{% endblock %}

{% block page_actions %}

    <a class="btn btn-default" href="{{ path('admin_planning')}}">
        Retour
    </a>

{% endblock %}


{% block main %}

    <div class="form-wrapper" data-controller="ajax">

        {{ form_start(form, {
            'attr': {
                'data-ajax-target': 'form'
            }
        }) }}

            <div data-ajax-target="container">
                {{ form_row(form.group) }}
                
                {% if form.match is defined %}
                    {{ form_row(form.match) }}
                {% endif %}

                {% set saveBtn = form_row(form.save) %}

                {{ form_rest(form) }}
            </div>
            
            {{ saveBtn|raw }}

        </form>
                
    </div>

{% endblock %}