{# Important: Note the syntax with [] and only #}
{# Ignore global themes; use only EasyAdmin #}
{# important to avoid theme conflicts #}
{% form_theme form with ['@admin/form/form_theme.html.twig', _self] only %}

{# This override applies only to form.match thanks to the scoping above #}
{% block _slot_booking_form_match_widget %}
	<div {{ block('widget_container_attributes') }}>
		{% for child in form %}
			<div class="match-choice">
				{{ form_widget(child) }}
				{{ form_label(child) }}

				{# Extra info under each radio #}
				<div class="match-extra">
					<div class="match-extra-side">
                        {% set sideA = child.vars.extra.sideA %}
                        <h5>{{ sideA.name }}</h5>
                        <div class="match-extra-line">
                            Dispos:
                            {{ sideA.dispos is not empty ? sideA.dispos : '—' }}
                        </div>
                        <div class="match-extra-line">
                            Matchs programmés: {{ sideA.dates|join(', ') }}
                        </div>
					</div>
					<div class="match-extra-side">
                        {% set sideB = child.vars.extra.sideB %}
                        <h5>{{ sideB.name }}</h5>
                        <div class="match-extra-line">
                            Dispos:
                            {{ sideB.dispos is not empty ? sideB.dispos : '—' }}
                        </div>
                        <div class="match-extra-line">
                            Matchs programmés:
                            {{ sideB.dates|join(', ') }}
                        </div>
                    </div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <style>
        @media (min-width: 768px) {
            .form-wrapper {
                max-width: 300px;
            }
        }
        .match-extra {
            margin-top: 5px;
            margin-bottom: 25px;
            margin-left: 25px;
            h5 {
                font-size: medium;
                margin-bottom: 3px;
            }
            .match-extra-side {
                margin-bottom: 5px;
            }
            .match-extra-line {
                margin-left: 15px;
            }
        }
    </style>
{% endblock %}

{% block content_title %}Progammer un match - {{ slot }}{% endblock %}

{% block page_actions %}

    <a class="btn btn-default" href="{{ path('admin_planning')}}">
        Retour
    </a>

{% endblock %}


{% block main %}

    <div data-controller="ajax">

        {{ form_start(form, {'attr': {'data-ajax-target': 'form'}}) }}

            <div data-ajax-target="container">
                {{ form_row(form.group) }}
                
                {% if form.match is defined %}
                    {{ form_row(form.match) }}
                {% endif %}

                {% set saveBtn = form_row(form.save) %}

                {{ form_rest(form) }}
            </div>
            
            {{ saveBtn|raw }}

        </form>
                
    </div>

{% endblock %}